<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<pui-panel header="puiDatatable">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
            <header>Specification of columns</header>
            <pui-datatable value="fixedData" id="columns">
                <pui-column value="brand"></pui-column>
                <pui-column value="year"></pui-column>
            </pui-datatable>

		</section>

		<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
            <pui-tabview id="sourceTabs" >
                <pui-panel header="html" id="d_html">
                    <pre pretty-print="html" >

            <pui-datatable value="fixedData">
                <pui-column value="brand"></pui-column>
                <pui-column value="year"></pui-column>
            </pui-datatable>
                    </pre>
                </pui-panel>
                <pui-panel header="controller" id="d_script">
                    <pre pretty-print="js" >
$scope.fixedData =  [
    {'brand':'Volkswagen','year': 2012, 'color':'White', 'vin':'dsad231ff'},
    {'brand':'Audi','year': 2011, 'color':'Black', 'vin':'gwregre345'},
    {'brand':'Renault','year': 2005, 'color':'Gray', 'vin':'h354htr'},
    {'brand':'Bmw','year': 2003, 'color':'Blue', 'vin':'j6w54qgh'},
    {'brand':'Mercedes','year': 1995, 'color':'White', 'vin':'hrtwy34'},
    {'brand':'Opel','year': 2005, 'color':'Black', 'vin':'jejtyj'},
    {'brand':'Honda','year': 2012, 'color':'Yellow', 'vin':'g43gr'},
    {'brand':'Chevrolet','year': 2013, 'color':'White', 'vin':'greg34'},
    {'brand':'Opel','year': 2000, 'color':'Black', 'vin':'h54hw5'},
    {'brand':'Mazda','year': 2013, 'color':'Red', 'vin':'245t2s'}
];

                    </pre>
                </pui-panel>
			</pui-tabview>
		</pui-fieldset>
	</div>
</div>