<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<pui-panel header="puiPanel">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Callback of user actions</header>

			<pui-panel id="options" binding="callbackPanel" style="margin-bottom:20px" header="Callback">
				The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
				His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
				Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
				kind and benevolent to those who give respect,
				but given to ruthless violence whenever anything stands against the good of the family.
			</pui-panel>
		</section>

		<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
            <pui-tabview id="sourceTabs" >
                <pui-panel header="html" id="d_html">
						<pre pretty-print="html" >
	<pui-panel id="options" binding="callbackPanel" style="margin-bottom:20px" header="Callback">
		The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
		...
		but given to ruthless violence whenever anything stands against the good of the family.
	</pui-panel>
						</pre>
                </pui-panel>
                <pui-panel header="controller" id="d_script">
         $scope.callbackPanel = {
              toggleable: true,
              closable: true,
              onStateChanged : function() {
                    alert('User toggled the panel ');
              },
              onClose: function() {
                    alert('user closed the panel');
              }
          }
                </pui-panel>
            </pui-tabview>
		</pui-fieldset>

	</pui-panel>
</div>