<div ng-include="'partials/widgetList.html'" id="widgetList"></div>
<div id="content">

	<pui-panel header="puiAutocomplete">
		<div ng-include="'partials/widgetSubPages.html'" id="widgetSubPages"></div>

		<section>
			<header>Integration with pui-disabled</header>

			<pui-autocomplete id="default" value="country" completeMethod="countries" pui-disabled="fieldDisabled"></pui-autocomplete><br/>

            <pui-autocomplete id="dropdown" value="country" binding="boundedExample" pui-disabled="fieldDisabled"></pui-autocomplete><br/>
			Controller value is : <span id="modelValue">{{country}}</span>
			<br/>
			<button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
			<button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>

		</section>

		<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
            <pui-tabview id="sourceTabs" >
                <pui-panel header="html" id="d_html">
						<pre pretty-print="html" >
        <pui-autocomplete id="default" value="country" complete_method="countries" pui-disabled="fieldDisabled"></pui-autocomplete><br/>

        <pui-autocomplete id="dropdown" value="country" binding="boundedExample" pui-disabled="fieldDisabled"></pui-autocomplete><br/>
        Controller value is : {{country}}
        <br/>
        <button ng-click="enableField()" type="button" ng-show="fieldDisabled">Enable</button>
        <button ng-click="disableField()" type="button" ng-hide="fieldDisabled">Disable</button>
						</pre>
                </pui-panel>
                <pui-panel header="controller" id="d_script">

						<pre pretty-print="js" >
	$scope.country = null;
	$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

	$scope.fieldDisabled = true;

	$scope.enableField = function() {
		$scope.fieldDisabled = false;
	};

	$scope.disableField = function() {
		$scope.fieldDisabled =  true;
	};
						</pre>
					</pui-panel>
				</pui-tabview>
		</pui-fieldset>

	</pui-panel>
</div>